.login-wrapper {
    height: 100vh;
    display: flex;

    flex-direction: column;
    align-items: center;

    background-color: #066bc2;

    #logo {
        width: fit-content;
        height: fit-content;

        margin: 0;

        padding-top: 3em;
    }

    #login {
        margin: auto;

        h1 {
            color: white;
            text-align: center;
            margin: 1em;
        }
    }
}
