.navbar {
    margin: 0;

    border-bottom: 2px solid gainsboro;

    &:last-child {
        border-top: none;
    }

    h3 {
        margin: 0;
    }
}

.navbar-nav {
    height: 5em;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;

    li {
        height: 100%;
    }

    .nav-item {
        margin: 0 1em;
        padding: 0 0.5em;

        box-sizing: border-box;

        cursor: pointer;

        display: flex;
        align-items: center;
        text-decoration: none;

        height: 100%;

        transition: all 0.1s ease-in;

        &:visited,
        &:link {
            color: black;
        }

        &.active,
        &:hover {
            color: #1890ff;
            text-shadow: 0 0 0.9px #1890ff, 0 0 0.9px#1890ff, 0 0 0.9px #1890ff;

            border-top: 3px solid #1890ff;
        }

        .icon {
            margin: 0.2em;
        }
    }
}

.user {
    margin-left: auto;

    label {
        padding: 0 1em;
    }
}
