.navbar {
    margin: 0;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    &:last-child {
        border-top: none;
    }

    h3 {
        margin: 0;
    }
}

.navbar-nav {
    height: 5em;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
    font-weight: bold;

    &.sub {
        height: 3em;
    }

    .nav-item {
        margin: 0 1em;
        cursor: pointer;

        .nav-link {
            display: inline-block;
            padding: 0.2em 1em;
            border-radius: 5px;

            text-decoration: none;
            color: black;

            &.active {
                background-color: #95bcf2;
            }
        }
    }
}

.user {
    margin-left: auto;

    label {
        padding: 0 1em;
    }
}
